.MainAttendance{
    width: 750px;
    height: 350px;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
    height: 350px;
}

.MainAttendance::-webkit-scrollbar{
    display: none;
}

.date{
    margin-top: 5px;
    margin-bottom: 10px ;
    margin-right: 27px;
    margin-left: 5px;
    height: 25px;
    border-radius: 5px;
}

.datebutton{
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.MainAttendance th{
    overflow: hidden;
    top: 0;
    border: 1px solid #fff;
    background-color: #dbedf7;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.roll{
    border-radius: 10px 0px 0px 10px;
}

.remark{
    border-radius: 0px 30px 30px 0px;
}

table, th, td{
    padding: 8px 16px;
    border: 1px solid  #64bde1;
}

td{
    border-radius: 10px;
}

.submitbutton{
    margin-left: 700px;
    margin-top: 11px;
    background-color: white;
    border-radius: 5px;
}

.heading{
 
    
}